/* h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ol,
ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
} */

.allergyBadge {
	height: 2.5em;
}

.allergic {
	background-color: #d05e5e75;
}

.notAllergic {
	background-color: #a1b99175;
}

.pantry-container h3 {
	margin-top: 6em;
	font-size: medium;
	color: brown;
	text-align: center;
}

.btn-toolbar {
	display: flex;
	justify-content: center;
}

.btn-outline-info {
	float: right;
}

.btn-outline-success {
	float: right;
}

.react-slider {
	margin-right: .5em;
}

.filter-container {
	background: rgba(120, 161, 191, 0.57);
	border-radius: 2em;
}

.cuisine span {
	margin-right: 1em;
	white-space: nowrap;
	margin-right: .5em;
}

.dish-type {
	display: flex;
	align-items: center;
}

.cuisine {
	display: flex;
	align-items: center;
}

.generate-recipe-btn {
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #60a3bc;
	padding: 20px;
	border-radius: 50px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}

.generate-recipe-btn:hover {
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	transition: all 0.4s ease 0s;
}

.search-container {
	margin-top: 1em;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.card-body {
	margin-left: 50px;
}

.recipe-card .btn {
	border-radius: 30%;
	margin-top: .4em;
}

.recipe-card {
	border-radius: 30%;
	border: 5px dotted bisque;
	max-width: 540px;
}

.list-group {
	border-top: 2px solid black;
	padding: .4em;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 95vh;
}

.no-gutters {
	overflow: hidden;
}

.card-img {
	height: 70%;
	/* width: auto; */
	border-radius: 10% 30% 50% 70%;
}

.modalContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modalMain {
	display: flex;
	flex-direction: column;
}

.modal-content {
	width: 45em;
	display: flex;
	background-color: #dbddcc;
	/* border: 5px solid black; */
	border-radius: 25px;
}

.modal-content h3 {
	color: green;
}

.modal-content h4 {
	color: red;
}

.modal-content img {
	border-radius: 50px;
	width: fit-content;

	margin: 20px;

	/* border: 5px solid goldenrod; */
}

.filters-row1 {
	/* border: solid black; */
	padding: .3em;
	/* border-radius: 1em; */
	/* background-color: white; */
	display: flex;
	margin: 1em;
	justify-content: space-around;
	color: #000000;
	font-style: italic;
}

.filters-row2 {
	margin: 1em;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #000000;
	font-style: italic;
	/* border-radius: 1em; */
	/* background-color: white; */
}

.buttonFilterContainer {
	display: flex;
	justify-content: space-evenly;
	padding: 5px;
	margin: 10px;
}

.sliderFilterContainer {
	display: flex;
	justify-content: space-evenly;
	padding: 5px;
	margin: 10px;
	margin-right: 10px;
}

.form-control {
	margin: 20px 0;
	/*margin-left: 50px;*/
	/*max-width: 80%;*/
	align-items: center;
}

#root {
	display: flex;
}

.accordion {
	margin: .2em;
}

.main {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin-top: 51px;
	width: 100vw;
	height: 94vh;
	background-image: url('https://images.unsplash.com/photo-1483137140003-ae073b395549?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
	background-size: cover;
}

.pantry-container {
	display: flex;
	flex-direction: column;
	background-color: #bec7bb;
	/* height: auto; */

	border: 5px solid white;
}

.recipe-container {
	display: flex;
	flex-direction: column;
	/* background-color: yellow; */
	height: 100%;
	width: 75vw;
}

.mixingbowl {
	display: unset;
	flex-direction: row;
	justify-content: center;
}

.mixingbowl img {
	height: 6em;
}

.centered-text {
	text-align: center;
}

.mixingbowl .jumbotron {
	display: grid;
	background-image: url('https://image.flaticon.com/icons/png/512/1689/1689198.png');
	background-size: contain;
	margin: 1em;
}
.selected-pantry__empty {
	display: flex;
	justify-content: center;
}
.selected-pantry__item {
	display: flex;
	justify-content: space-between;
}

.navbar {
	justify-content: space-between;
	height: 3em;
}
.nav-avatar {
	height: 2em;
	margin-top: .3em;
	margin-right: 1em;
}

.nav-logo {
	height: 2em;
}
.btn-logout {
	margin-left: 1em;
}
