@import "RecipeCard.css";
@import "Unauthorized.css";
@import "Slider.css";
@import "Modal.css";
@import "RecipeList.css";
@import "NavBar.css";

/* h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ol,
ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
} */

.loading-app {
	margin-left: 20em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.loading-alert {
	margin-top: 5em;
	font-size: 1.5em;
	text-align: center;
}

.loading-img {
	margin-bottom: 40em;
}

.pantry-container h3 {
	margin-top: 2em;
	font-size: medium;
	color: brown;
	text-align: center;
}

.btn-toolbar {
	display: flex;
	justify-content: center;
	background-color: #bec7bb;
}

.btn-outline-info {
	float: right;
}

.btn-outline-success {
	float: right;
}

.react-slider {
	margin-right: .5em;
}

.filter-container {
	background: rgba(120, 161, 191, 0.9);
	border-radius: 2em;
	opacity: .75;
}

.cuisine span {
	margin-right: 1em;
	white-space: nowrap;
	margin-right: .5em;
}

.dish-type {
	display: flex;
	align-items: center;
}

.cuisine {
	display: flex;
	align-items: center;
}

.generate-recipe-btn {
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #60a3bc;
	padding: 20px;
	border-radius: 50px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}

.generate-recipe-btn:hover {
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	transition: all 0.4s ease 0s;
}

.search-container {
	/* margin-top: 16em; */
	display: flex;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.list-group {
	border-top: 2px solid black;
	padding: .4em;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 95vh;
}

.filters-row1 {
	/* border: solid black; */
	padding: .3em;
	/* border-radius: 1em; */
	/* background-color: white; */
	display: flex;
	margin: 1em;
	justify-content: space-around;
	color: #000000;
	font-style: italic;
}

.filters-row2 {
	margin: 1em;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #000000;
	font-style: italic;
	/* border-radius: 1em; */
	/* background-color: white; */
}

.buttonFilterContainer {
	display: flex;
	justify-content: space-evenly;
	padding: 5px;
	margin: 10px;
}

.sliderFilterContainer {
	display: flex;
	justify-content: space-evenly;
	padding: 5px;
	margin: 10px;
	margin-right: 10px;
}

.form-control {
	margin: 20px 0;
	/*margin-left: 50px;*/
	/*max-width: 80%;*/
	align-items: center;
}

#root {
	display: flex;
}

.accordion {
	margin: .2em;
}

.main {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin-top: 51px;
	width: 100vw;
	height: 94vh;
	z-index: 1;
	/*position: relative;*/
	background-image: url('https://images.unsplash.com/photo-1483137140003-ae073b395549?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
	background-size: cover;
}

.pantry-container {
	display: flex;
	flex-direction: column;
	background-color: #bec7bb;
	height: 100%;
	justify-content: space-evenly;
	border: 5px solid white;
	width: 350px;
}

.recipe-container {
	display: flex;
	flex-direction: column;
	/* height: 500px; */
	width: 75vw;
	margin-top: -15em;
	margin-right: 2.5em;
	margin-left: 2.5em;
}

.mixingbowl {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* margin-top: 30em; */
}

.selected-pantry__empty {
	height: 6em;
}

.selected-pantry__full {
	overflow-y: scroll;
	height: 15em;
}

.centered-text {
	text-align: center;
}

.mixingbowl .jumbotron {
	display: grid;
	padding: 1em;
	overflow-y: scroll;
}
.selected-pantry__empty .jumbotron {
	display: flex;
	justify-content: center;
	overflow-y: hidden;
}

.selected-pantry__item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.selected-pantry__remove {
	height: 3em;
}
.pantry-list__empty {
	height: 6em;
}

.btn-logout {
	margin-left: 1em;
}

div .pantry-list {
	height: 500px;
	overflow-y: scroll;
}

.adjusted-sel-pantry-item {
	margin: 5px 5px 0 0;
}

.adjusted-pantry-item {
	position: absolute;
	padding-top: 7px;
}

.no-results-img {
	height: 11em;
	width: 11m;
}

.search {
	display: flex;
	align-items: baseline;
}

.search button {
	height: fit-content;
	background-color: #60a3bc;
}

.pantry-list__new  {
	background-color: blue;
}