/* .pantry {
	margin-top: 200px;
	text-align: left;
	border: 2px solid black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ol,
ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
} */

.modalContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modalMain {
	display: flex;
	flex-direction: column;
}

.modal-content {
	width: 45em;
	display: flex;
	background-color: #dbddcc;
	/* border: 5px solid black; */
	border-radius: 25px;
}

.modal-content h3 {
	color: green;
}

.modal-content h4 {
	color: red;
}

.modal-content img {
	border-radius: 50px;
	width: fit-content;

	margin: 20px;

	/* border: 5px solid goldenrod; */
}

.form-control {
	margin: 20px;
	margin-left: 50px;
	max-width: 80%;
	align-items: center;
}

#root {
	display: flex;
}

.nav {
	position: fixed;
	width: 100%;
	background-color: red;
}

.main {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin-top: 40px;
	width: 100vw;
	/*background-image: url('https://images.pexels.com/photos/1414651/pexels-photo-1414651.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');*/
}

.pantry-container {
	display: flex;
	flex-direction: column;
	background-color: green;
	height: 100%;
	width: 25vw;
}

.recipe-container {
	display: flex;
	flex-direction: column;
	background-color: yellow;
	height: 100%;
	width: 75vw;
}

.mixingbowl {
	display: flex;
	justify-content: center;
}

.mixingbowl img {
	height: 6em;
}
