/* h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ol,
ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
} */
.card-body {
	margin-left: 50px;
}

.recipe-card .btn {
	border-radius: 30%;
	margin-top: .4em;
}

.recipe-card {
	border-radius: 30%;
	border: 5px dotted bisque;
	max-width: 540px;
}

.list-group {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 550px;
}

.no-gutters {
	overflow: hidden;
}

.card-img {
	height: 70%;
	/* width: auto; */
	border-radius: 10% 30% 50% 70%;
}

.modalContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modalMain {
	display: flex;
	flex-direction: column;
}

.modal-content {
	width: 45em;
	display: flex;
	background-color: #dbddcc;
	/* border: 5px solid black; */
	border-radius: 25px;
}

.modal-content h3 {
	color: green;
}

.modal-content h4 {
	color: red;
}

.modal-content img {
	border-radius: 50px;
	width: fit-content;

	margin: 20px;

	/* border: 5px solid goldenrod; */
}

.buttonFilterContainer {
	display: flex;
	justify-content: space-evenly;
	padding: 5px;
	margin: 10px;
}

.sliderFilterContainer {
	display: flex;
	justify-content: space-evenly;
	padding: 5px;
	margin: 10px;
	margin-right: 10px;
}

.form-control {
	margin: 20px 0;
	/*margin-left: 50px;*/
	/*max-width: 80%;*/
	align-items: center;
}

#root {
	display: flex;
}

.main {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin-top: 60px;
	width: 100vw;
	/*background-image: url('https://images.pexels.com/photos/1414651/pexels-photo-1414651.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');*/
}

.pantry-container {
	display: flex;
	flex-direction: column;
	background-color: cornflowerblue;
	height: 100%;
	width: 25vw;
}

.recipe-container {
	display: flex;
	flex-direction: column;
	/* background-color: yellow; */
	height: 100%;
	width: 75vw;
	overflow: scroll;
}

.mixingbowl {
	display: unset;
	flex-direction: row;
	justify-content: center;
}

.mixingbowl img {
	height: 6em;
}

.centered-text {
	text-align: center;
}

.mixingbowl .jumbotron {
	display: grid;
	background-image: url('https://image.flaticon.com/icons/png/512/1689/1689198.png');
	background-size: contain;
	margin: 1em;
}
.selected-pantry__empty {
	display: flex;
	justify-content: center;
}
.selected-pantry__item {
	display: flex;
	justify-content: space-between;
}

.navbar {
	justify-content: space-between;
}
.nav-avatar {
	height: 2em;
	margin-top: .3em;
	margin-right: 1em;
}

.nav-logo {
	height: 2em;
}
.btn-logout {
	margin-left: 1em;
}