
.modalContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modalMain {
	display: flex;
	flex-direction: column;
}

.modal-footer {
  justify-content: space-around;
}
.modal-content {
	width: 45em;
	display: flex;
	background-color: #dbddcc;
	/* border: 5px solid black; */
	/* border-radius: 25px; */
}

.modal-content h3 {
	color: green;
}

.modal-content h4 {
  color: red;
  text-align: center;
}

.modal-content img {
	border-radius: 5%;
	width: 20em;
	margin: 20px;
}

.modelMain ol {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.modelMain ul {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.modalMain li {
  margin-left: 3em;
}

.modalMain .jumbotron {
  padding: 2em 1em;
}

.ingr-and-image {
  display: flex;
  justify-content: space-around;
}

.modal-content img {
  width: 20em;
  margin: 20px;
  border: .2em solid rgba(112, 69, 19, 0.47);
}