
.modalMain {
	display: flex;
	flex-direction: column;
}

.modal-footer {
  justify-content: space-around;
}
.modal-content {
	width: 45em;
	display: flex;
  background-color: #dbddcc;
  display: flex;
	flex-direction: column;
	align-items: center;
  background-color: whitesmoke;
}

.modal-content .jumbotron {
  background-color: #556b2f78;
}
.modal-content img {
	border-radius: 5%;
	width: 20em;
	margin: 20px;
}

.modelMain ol {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.modelMain ul {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.modalMain li {
  margin-left: 3em;
}

.modalMain .jumbotron {
  padding: 2em 1em;
}

.ingr-and-image {
  display: flex;
  justify-content: space-around;
}

.modal-content img {
  width: 20em;
  margin: 20px;
  border: .2em solid rgba(112, 69, 19, 0.47);
}

.saved-recipes-modal img {
  height: 10em;
  padding: 0em;
  margin: .5em;
}

.saved-recipes-modal .modal-title {
  margin-left: 36%;
}
.saved-recipes-modal .card {
  margin-bottom: 1em;
  height: 12em;
}

.recipe-modal .modal-header {
  align-items: normal;
}

.recipe-modal h4 {
  color: #fc8c29
}

.recipe-modal h3 {
    color: #212529;
}
