
.empty-recipe-list {
  display: flex;
  overflow-y: hidden;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #ffe6b77d;
	border-radius: 1em;
	color: #0d0a07
}

.empty-recipe-list img {
	width: 5em;
}

.empty-recipe-list h4 {
	padding-top: 2em;
}

.recipes-full {
	display: flex;
	height: 35em;
  overflow-y: scroll;
  flex-direction: row;
  flex-wrap: wrap;
} 