
.badges-container {
  /* display: flex */
  /* bottom: 80%; */
  /* height: 2.5em; */
  /* position: absolute; */
  /* overflow: visible; */
  /* left: 94%; */
  z-index: 1;
}

.badges-container :first-child {
  top: 5%;
  height: 2.5em;
  position: absolute;
  overflow: visible;
  left: 94%;
  z-index: 1;
}

.badges-container :nth-child(2)  {
  top: 30%;
  height: 2.5em;
  position: absolute;
  overflow: visible;
  left: 94%;
  z-index: 1;
}

.card-body {
  padding: 0px;
  position: relative;
  height: 100%;
  margin-left: 1em;
}

.card-text {
  margin: auto;
}
.card-title {
  margin-top: .75rem;
}
.recipe-card .btn {
  position: absolute;
  bottom: 20%;

}

.recipe-card {
  position: relative;
	border-radius: 3%;
	border: 3px dotted bisque;
  width: 40%;
  height: 75%;
  z-index: 1000;
}

.list-group {
	border-top: 2px solid black;
	padding: .4em;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 100%;
}

.no-gutters {
	overflow: hidden;
}

.card-img {
  height: 5em;
  border-radius: 3%;
  position: absolute;
  bottom: 50%;
  right: 20%;
}

p {
  margin-bottom: .1em;
}