
.empty-recipe-list {
  display: flex;
  overflow-y: hidden;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.empty-recipe-list img {
	width: 5em;
}

.empty-recipe-list h2 {
	color: olivedrab;
	/* background-color: orange; */
	border-radius: 1em;
}

.recipes-full {
	display: flex;
	height: 35em;
  overflow-y: scroll;
  flex-direction: row;
  flex-wrap: wrap;
} 