.empty-recipe-list {
	display: flex;
	overflow-y: hidden;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #ffe6b77d;
	border-radius: 1em;
	color: #0d0a07;
}

.recipes-full {
	display: flex;
	height: 30em;
	overflow-y: scroll;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #ffe6b77d;
}

.recipe-empty img {
	height: 11em;
	width: 5em;
}

.empty-recipe-list h4 {
	padding-top: 2em;
}
.recipes-full h4 {
	padding-top: 2em;
}
.recipe-loading {
	height: 20em;
	display: flex;
	justify-content: center;
}

.recipes-full .recipe-loading {
	height: 20em;
	width: 100%;
	display: flex;
	justify-content: center;
}

.recipes-full .recipe-empty {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.recipes-full .recipe-error {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.recipe-loading img {
	height: 10em;
	width: 15em;
	border-radius: 60%;
	margin-top: 10%;
}

.recipe-error img {
	height: 10em;
	width: 12em;
	border-radius: 50%;
	margin-bottom: 2em;
}

.recipe-no-results img {
	height: 5em;
	border-radius: 50%;
	margin-bottom: 2em;
}
