
.recipe-card .btn {
	margin-top: .4em;
}

.card-body small {
	color: darkgray;
}

.no-gutters {
	overflow: hidden;
}

.card-img {
	height: 70%;
	/* width: auto; */
	border-radius: 10% 30% 50% 70%;
}

.badges-container {
	z-index: 1;
}

.badges-container :first-child {
	top: 2%;
	height: 2.5em;
	position: absolute;
	overflow: visible;
	left: 94%;
	z-index: 1;
}

.badges-container :nth-child(2) {
	top: 15%;
	height: 2.5em;
	position: absolute;
	overflow: visible;
	left: 94%;
	z-index: 1;
}

.recipe-card {
	/* background-color: salmon; */
	padding: 1em;
	margin: 3em;
	/* border-radius: 2em; */
	width: 15em;
}

.card-img-top {
	border-radius: 1em;
}

.card-columns .card {
	width: 19em;
}

.card-title .h5 {
  font-size: 1rem;
}